@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Orbitron:wght@600&family=Oswald:wght@300;500;600;700&family=Roboto+Slab:wght@300;700;900&family=Roboto:ital,wght@0,400;0,500;1,700;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar{
  background-color: rgba(13, 16, 45, 0.5);
  backdrop-filter: blur(10px); /* Adjust the blur value based on your preference */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px;
}
img{
  height: 370px;
  width: 280px;
}
.card{
  margin-bottom: 10px;
}

.loading{
  height: 75vh;
}


@media screen and (max-width: 750px) {
  img{
      height: 200px;
      width: 140px;
  }
}

.Active-Button{
  padding: 5px;
  margin-top: 4px;
  border-radius: 2px;
  color: #f0ebd8;
  background-color: #1d2d44;
}

.card {
  transition: transform 0.2s ease-in-out;
 
}

.card:hover {
  transform: translateY(-10px);


}
.card1 {
  transition: transform 0.2s ease-in-out;
 
}
 .card1:hover{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow:1px 2px 30px black;
  transform: translateY(-10px);
 }

.authorimg{
  height: 150px;width: 150px;
  
}

